:root {
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: rgba(var(--color-white), 0);
  --color-dirty-white: #F4FAFF;
  --color-gray: #413e5c;
  --color-blue: #006eff;
  --color-blue-darker: #0062e3;

  --font-family-default: Hack, Menlo, Courier, monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}
