@import 'variables';

.actions {
  background: var(--color-white);
  border-radius: 5px;
  font-size: 0.9em;
  min-width: 120px;
  text-align: left;
  box-shadow: 0 0 15px rgba(var(--color-gray), 0.1);
  position: absolute;
  z-index: 1;
  margin-top: 15px;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-white);
    position: absolute;
    top: -7px;
    right: 10px;
  }


  li {
    a {
      display: block;
      padding: 3px 10px;
    }

    &:hover a {
      color: var(--color-blue);
    }

    + li {
      border-top: 1px solid #f7f7f7;
    }
  }
}
