@import 'variables';

.header {
  display: flex;
  flex-direction: row;

  .left,
  .right {
    flex-direction: column;
  }

  .left {
    flex: 1;
  }

  .right {
    flex: 0;
    text-align: right;
    font-size: 0.9em;
    line-height: 2;
    display: flex;
    flex-direction: row;

    .name {
      color: var(--color-blue-darker);
    }

    .email {
      color: #a0a5bd;
      font-size: 0.8em;
      font-weight: var(--font-weight-bold);
    }
  }

  .info {
    padding-right: 15px;
  }

  .buttonMore {
    background: var(--color-blue);
    border: 0;
    color: var(--color-white);
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    cursor: pointer;

    &:hover {
      background: var(--color-blue-darker);
    }

    i {
      font-size: 2.4em;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h1 {
    font-size: 2em;
  }

  hr {
    border-color: var(--color-blue);
    border-style: solid;
    border-width: 2px;
    max-width: 30px;
    margin-top: 15px;
  }
}
