@import 'variables';

.footer {
  text-align: right;

  a {
    color: var(--color-blue);
    text-decoration: none;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-blue);
    }
  }
}
