@import 'variables';

.footer {
  overflow: hidden;

  .left {
    float: left;
    text-align: left;
  }

  .right {
    float: right;
    text-align: right;
  }

  @media (max-width: 870px) {
    .left,
    .right {
      float: none;
      display: block;
      text-align: left;
    }

    .right {
      margin-top: 5px;
      line-height: 1.6;
    }
  }

  @media (max-width: 375px) {
    .right {
      display: none;
    }
  }

  a {
    color: var(--color-blue);
    text-decoration: none;

    &:hover {
      color: var(--color-blue-darker);
    }
  }
}
